.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

img {
    margin: 10px;
    border: 5px solid #555;
    width: 150px;
    height: 150px;
    cursor: pointer;
    object-fit: cover;
}

.selected {
    border: 5px solid rgb(0, 195, 255);
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
